.field {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0px;
    // background-color: #aaa8a8;

    &__wrapper {
        display: flex;
        padding: 20px;
    }

    &__game {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        border: 3px solid var(--grid-lines-color);
    }
}

.disabled{
    pointer-events: none;
}

.row {
    display: flex;

    &:not(:last-child) {
        border-bottom: 1px solid var(--grid-lines-color);
    }

    &:nth-child(5n):not(:last-child) {
        border-bottom: 3px solid var(--grid-lines-color);
    }
}

.cell {
    width: 30px;
    height: 30px;

    &--size60 {
        width: 60px;
        height: 60px;
    }

    &:not(:last-child) {
        border-right: 1px solid var(--grid-lines-color);
    }

    &:not(:last-child):nth-child(5n) {
        border-right: 3px solid var(--grid-lines-color);
    }

    &--clicked {
        background-color: var(--font-color);
    }

    &--crossed {
        background-image: url('../assets/images/cross.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &:hover {
        cursor: pointer;
    }
}

.clues {
    &-top {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        border-top: 3px solid var(--grid-lines-color);
        border-left: 3px solid var(--grid-lines-color);
        border-right: 3px solid var(--grid-lines-color);
    }

    &-left {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        border-top: 3px solid var(--grid-lines-color);
        border-left: 3px solid var(--grid-lines-color);
        border-bottom: 3px solid var(--grid-lines-color);
    }
}

.clue {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;

    &--size60 {
        width: 40px;
        height: 40px;
    }

    &-top:not(:last-child) {
        border-right: 1px solid var(--grid-lines-color);
    }

    &-top:nth-child(5n):not(:last-child) {
        border-right: 3px solid var(--grid-lines-color);
    }

    // &-left:not(:last-child) {
    //     // border-right: 1px solid black;
    // }

    &-row {
        display: flex;
    }

    // &-row-top:not(:last-child) {
    //     // border-bottom: 1px solid black;
    // }

    &-row-left:not(:last-child) {
        border-bottom: 1px solid var(--grid-lines-color);
    }

    &-row-left:nth-child(5n):not(:last-child) {
        border-bottom: 3px solid var(--grid-lines-color);
    }
}