.levels {
    display: flex;
    gap: 5px;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        gap: 15px;
    }

    &__box {
        display: flex;
        gap: 5px;
    }
}

.radioButton {
    appearance: none;
}

.label {
    padding: 8px;
    background-color: rgb(255, 64, 0);
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

.selected {
    color: rgb(255, 255, 255);
    background-color: rgb(131, 34, 2);
}

.templates__select:hover {
    cursor: pointer;
}

.templates {
    display: flex;
    gap: 10px;
    align-items: center;

    &__select {
        width: 100px;
    }
}