.levels {
    display: flex;
    gap: 5px;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        gap: 15px;
    }

    &__box {
        display: flex;
        gap: 5px;
    }
}

.radioButton {
    appearance: none;
}

.label {

    &:hover {
        cursor: pointer;
    }
}

.selected {
    color: rgb(226, 80, 43);
}

.templates__select:hover{
cursor: pointer;
}

.templates {
    display: flex;
    gap: 10px;

    &__select {
        width: 100px;
    }
}