.levels {
    display: flex;
    gap: 5px;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    &__box {
        display: flex;
        gap: 5px;
    }
}

.radioButton {
    appearance: none;
}

.label {

    &:hover {
        cursor: pointer;
    }
}

.selected {
    color: rgb(226, 80, 43);
}



.templates {
    display: flex;
    gap: 10px;

    &__select {
        width: 100px;
    }
}