// $main-color: rgb(237, 0, 0);
// $font-color: #41403e;
// $body-bg-color: rgb(214, 214, 214);
// $btn-bg-color:#ffffff;
// $btn-text-color:#41403e;
// $wrapper-bg-color: #ffffff;

:root {
    --wrapper-bg-color: #ffffff;
    --main-color: rgb(237, 0, 0);
    --font-color: #41403e;
    --body-bg-color: rgb(214, 214, 214);
    --btn-bg-color: #ffffff;
    --btn-text-color: #41403e;
}

// $main-color: rgb(237, 0, 0);
// $font-color: #41403e;
// $body-bg-color: rgb(214, 214, 214);
// $btn-bg-color:#ffffff;
// $btn-text-color:#41403e;
// $wrapper-bg-color: #ffffff;