// $main-color: rgb(237, 0, 0);
// $font-color: #41403e;
// $body-bg-color: rgb(214, 214, 214);
// $btn-bg-color:#ffffff;
// $btn-text-color:#41403e;
// $wrapper-bg-color: #ffffff;


//default
 :root {
    --wrapper-bg-color: #ffffff;
    --main-color: #ed0000;
    --font-color: #41403e;
    --body-bg-color: #ffffff;
    --body-bg-lines-color: #d6d6d6;
    --btn-bg-color: #ffffff;
    --btn-text-color: #41403e;
    --transition: all 200ms ease-in-out;
}

