// $main-color: rgb(237, 0, 0);
// $font-color: #41403e;
// $body-bg-color: rgb(214, 214, 214);
// $btn-bg-color:#ffffff;
// $btn-text-color:#41403e;
// $wrapper-bg-color: #ffffff;


//default
//  :root {
//     --wrapper-bg-color: #ffffff;
//     --main-color: rgb(237, 0, 0);
//     --font-color: #41403e;
//     --body-bg-color: #ffffff;
//     --body-bg-lines-color: rgb(214, 214, 214);
//     --btn-bg-color: #ffffff;
//     --btn-text-color: #41403e;
// }


:root {
    --wrapper-bg-color: #1d1d1d;
    --main-color: rgb(94, 1, 1);
    --font-color: #d4d3d3;
    --body-bg-color: #2a2a2a;
    --body-bg-lines-color: rgb(57, 57, 57);
    --btn-bg-color: #9c9b9b;
    --btn-text-color: #41403e;
}

