.right-box {
    @include flex-center;
    flex-direction: column;
    gap: 15px;

    &__icons {
        display: flex;
        width: 100%;
        gap: 15px;
        justify-content: flex-end;
    }
}

.theme {
    background: url(../assets/images/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: all 200ms ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
    }
}

.table {
    background: url(../assets/images/tableDark.svg);
    width: 26px;
    height: 26px;
    transition: all 200ms ease-in-out;

    &:hover {
        cursor: pointer;
        transform: translate3d(0, 2px, 0);
    }
}