.right-box {
    @include flex-center;
    flex-direction: column;
    gap: 15px;

    &__icons {
        display: flex;
        width: 100%;
        gap: 15px;
        justify-content: flex-end;

        @media screen and (max-width: 470px) {
            & {
                gap: 8px;
            }
        }
    }
}

.theme {
    background: url(../assets/images/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: var(--transition);

    @media (hover:hover) and (pointer:fine) {
        &:hover {
            cursor: pointer;
            transform: translate3d(0, 2px, 0);
        }
    }
}

.table {
    background: url(../assets/images/tableDark.svg);
    width: 30px;
    height: 30px;
    transition: var(--transition);

    @media (hover:hover) and (pointer:fine) {
        &:hover {
            cursor: pointer;
            transform: translate3d(0, 2px, 0);
        }
    }
}

.sound {
    background: url(../assets/images/soundOnDark.svg);
    width: 30px;
    height: 30px;
    transition: var(--transition);

    &-off {
        background: url(../assets/images/soundOffDark.svg);
    }

    @media (hover:hover) and (pointer:fine) {
        &:hover {
            cursor: pointer;
            transform: translate3d(0, 2px, 0);
        }
    }
}