.wrapper {
    display: flex;
    width: 800px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: rgba(252, 252, 252, 0.573);
    border-radius: 20px;
}