.wrapper {
    display: flex;
    width: 800px;
    height: 780px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: rgba(252, 252, 252, 0.573);
    border-radius: 20px;
}